<h2>Naomi P. Saphra</h2>
<p><img src="https://avatars3.githubusercontent.com/u/414788?v=3&s=460" alt="Naomi Saphra" title="Follow me on Twitter @nsaphra"  class="img-rounded floatLeft" />
I'm a current PhD student at Johns Hopkins. My main current interests are in applying NLP techniques to informal domains, and in semantic representations that work across languages and domains.</p>
<p><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=nsaphra&repo=nsaphra.github.io&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=nsaphra&repo=nsaphra.github.io&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>

<p><a href="https://twitter.com/nsaphra" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @nsaphra</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/nsaphra" rel="me" class="social github" title="Go to github.com/nsaphra" target="_blank"></a></li>
	  <li><a href="www.linkedin.com/pub/naomi-saphra/60/b80/28/" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="https://plus.google.com/107881599823952248147/posts" rel="me" class="social gplus" title="Go to Google Plus profile" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/nsaphra" rel="me" class="social twitter" title="Go to twitter.com/nsaphra" target="_blank"></a></li>
	</ul>
</p>
