<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="http://nsaphra.github.io">Objective Funk</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="">
            <a href="http://nsaphra.github.io"><i class="icon-home"></i> Home</a>
          </li>
            <li class="">
              <a href="http://speak.clsp.jhu.edu/publications/author/nsaphra/"><i class="icon-book"></i> Publications</a>
            </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-comment"></i> Social <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class=""><a href="http://github.com/nsaphra" rel="tooltip" title="Go to github.com/nsaphra" target="_blank">GitHub</a></li>
                    <li class=""><a href="http://www.twitter.com/nsaphra" rel="tooltip" title="Go to twitter.com/nsaphra" target="_blank">Twitter</a></li>
                    <li class=""><a href="http://www.linkedin.com/pub/naomi-saphra/60/b80/28/" rel="tooltip" title="Go to LinkedIn profile" target="_blank">LinkedIn</a></li>
                    <li class=""><a href="https://plus.google.com/107881599823952248147/posts" rel="tooltip" title="Go to Google+ profile" target="_blank">Google+</a></li>
                </ul>
             </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-list"></i> Projects <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class=""><a href="https://github.com/nsaphra/AMRICA" rel="tooltip" title="Go to AMRICA on GitHub" target="_blank">AMRICA</a></li>
                </ul>
             </li>
        </ul>
      </div>
    </div>
  </div>
</div>
