<!DOCTYPE html>
<html lang="en">
{% include header.html %}

<body class="preload">
    <div class="top"></div>
    <div class="profile" style="background-image: url({{ site.background }});">
        <img src="https://avatars3.githubusercontent.com/u/414788?v=3&s=460" class="img-circle" />
        <h3>{{ "Naomi Saphra" }}</h3>
        <p>{{ site.description }}</p>
        <ul class="social">
            {% if site.github %}
            <a type="button" href="http://github.com/{{ site.github }}">
                <i class="fa fa-github"></i>
            </a>
            {% endif %} {% if site.twitter %}
            <a type="button" href="http://twitter.com/{{ site.github }}">
                <i class="fa fa-twitter"></i>
            </a>
            {% endif %} {% if site.linkedin %}
            <a type="button" href="http://linkedin.com/in/{{ site.linkedin }}">
                <i class="fa fa-linkedin"></i>
            </a>
            {% endif %} {% if site.pinterest %}
            <a type="button" href="http://pinterest.com/{{ site.pinterest }}">
                <i class="fa fa-pinterest"></i>
            </a>
            {% endif %} {% if site.facebook %}
            <a type="button" href="http://facebook.com/{{ site.facebook }}">
                <i class="fa fa-facebook"></i>
            </a>
            {% endif %}
        </ul>
    </div>
    <div class="posts">
        {{ content }}
    </div>
</body>
<script type="text/javascript">
    window.onload = function(){
        document.getElementsByTagName("BODY")[0].classList.remove("preload");
    }
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>
<script type="text/javascript"
    src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
</html>
